<!DOCTYPE html>

<h2>My Favorite Animals</h2>
<h3>Here's a list of my favorite animals today:</h3>
<ul>
    {{#each animals}}
        {{#if favorite}}
            <li>{{name}}</li>
        {{/if}}
    {{/each}}
</ul>
