body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f3ed;
    color: #605d5b;
}
#heading {
    text-align: center;
}
.content {
    border: 2px solid black;
    width: 850px;
    margin: 0 auto;
    padding: 20px;
}
